# A Spark Worker will be started on each of the machines listed below.

{% for host in groups['spark_slaver'] %}                                                                                                                          
{{ host }}
{% endfor %}
