#software archive
flume_pkg: '{{ flume_ver }}.tar.gz'
hadoop_pkg: '{{ hadoop_ver }}.tar.gz'
zookeeper_pkg: '{{ zookeeper_ver }}.tar.gz'
hbase_pkg: '{{ hbase_ver }}-bin.tar.gz'
es_pkg: '{{ es_ver }}.tar.gz'
spark_pkg: '{{ spark_ver }}.tgz'
scala_pkg: '{{ scala_ver }}.tgz'
kafka_pkg: '{{ kafka_ver }}.tgz'
redis_pkg: '{{ redis_ver }}.tar.gz'

#scala env
scala_home : '{{ cloud_root }}/{{ scala_ver }}'
scala_env: 'export SCALA_HOME={{ scala_home }}; export PATH=$PATH:{{ scala_home }}/bin'

#java env
java_home: '/opt/{{ jdk_ver }}'
java_env: 'export JAVA_HOME={{ java_home }}; export PATH=$PATH:{{ java_home }}/bin'

#cloud data dir
cloud_data_dir: '{{ cloud_root }}/data'

#flume env
flume_home: '{{ cloud_root }}/{{ flume_ver }}'

#zookeeper env
zookeeper_home: '{{ cloud_root }}/{{ zookeeper_ver }}'
zookeeper_data_dir: '{{ cloud_data_dir }}/zookeeper/'

#hadoop env
hadoop_home: '{{ cloud_root }}/{{ hadoop_ver }}'
hadoop_data_dir: '{{ cloud_data_dir }}/hadoop'
hadoop_namenode_dir: '{{ hadoop_data_dir }}/namenode'
hadoop_datanode_dir: '{{ hadoop_data_dir }}/datanode'
hadoop_namenode_checkpoint_dir: '{{ hadoop_data_dir }}/checkpoint'

#core-site.xml
hadoop_tmp_dir: '{{ hadoop_data_dir }}/tmp'

#hdfs-site.xml
#dfs_permissions: false
#dfs_namenode_name_dir: 'file://{{ hadoop_namenode_dir }}/name'
#dfs_namenode_edits_dir: 'file://{{ hadoop_namenode_dir }}/edits'
#dfs_datanode_data_dir: 'file://{{ hadoop_datanode_dir }}'
#dfs_namenode_checkpoint_dir: 'file://{{ hadoop_namenode_checkpoint_dir }}/namenode'
#dfs_namenode_checkpoint_edits_dir: 'file://{{ hadoop_namenode_checkpoint_dir }}/edits'
#dfs_journalnode_edits_dir: '{{ hadoop_data_dir }}/journal'

#hbase env
hbase_home: '{{ cloud_root }}/{{ hbase_ver }}'

#hbase-site.xml
hbase_data_dir: '{{ cloud_data_dir }}/hbase'
hbase_tmp_dir: '{{ hbase_data_dir }}/tmp'

#es env
es_home: '{{ cloud_root }}/{{ es_ver }}'

#spark env
spark_home: '{{ cloud_root }}/{{ spark_ver }}'

#kafka env
kafka_home: '{{ cloud_root }}/{{ kafka_ver }}'

#redis env
redis_home: '{{ cloud_root }}/{{ redis_ver }}'

#delete_dirs
remove_dirs: '{{ delete_dirs }}'
